body {
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3 {
  margin: 5px;
  text-align: center;
}
button {
  font-size: 15px;
  padding: 5px 10px;
  margin: 10px 10px;
  height: 30px;
  border: 2px solid #af30cf;
  border-radius: 10px;
  background: transparent;
  color: #af30cf;
}
button:hover {
  cursor: pointer;
}
.item-button {
  margin: auto 10px;
  padding: 0px 5px;
  padding-bottom: 2px;
}
input {
  width: 550px;
  height: 30px;
  padding-bottom: 6px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #af30cf;
  border: 3px solid #af30cf;
  outline: 0;
  background: #333;
  border-bottom: 3px solid #9b9b9b;
  transition: border-color 0.2s;
}
input:focus{
  padding-bottom: 5px;
  border-width: 3px;
  border-image: linear-gradient(to right, #7a2190, #bb2ddf);
  border-image-slice: 1;
}
input:required {
  box-shadow: none;
}
ul {
  list-style: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


